<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
   <connectionStrings>
	   <add name="Prototype_livraria"
			 connectionString="Server=DESKTOP-AIDJU9G\SQLEXPRESS;Database=Prototype_livraria;
			 Trusted_connection=True;"
			 providerName="System.Data.Sqk=lClient"/>
   </connectionStrings>
    </configuration>